*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: burlywood;
  padding-top: 60px;

}

h1{
  color: brown;
}

input{
  margin-top: 35px;
  font-size: 20px;
}

#submit{ 
  border-radius: 10px;
  background-color: rgb(89, 246, 252);
  font-size: 19px;
  padding: 4px;
}

#submit:hover{
  background-color: rgb(255, 148, 157);
  transition: 0.5s;
  cursor: pointer;
}

.label{
  font-size: 19px;
  color: rgb(7, 107, 74);
}

#country, #city, #province{
  margin-top: 25px;
  font-size: 35px;
  color: brown;
}