.all {
  background: yellow;
  border-width: 5px thick;
}

.first, .third {
  border-color: red;
  border-style: dotted;
  padding: 50px;
}

.second { 
  border-color:green;
  border-style: solid;
  padding-top: 50px;
  width: 400px;
  margin: auto;
}

.first {
width: 300px;
margin: 50px;
}

.third {
  width: 200px;
  margin-left: 100px;
}