*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  background-color: burlywood;
}

h1{
  margin-top: 35px;
  color:brown;
  font-size: 45px;
}

button{
  font-size: 25px;
  color: rgb(247, 107, 15);
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
  margin-bottom: 35px;
}

button:hover{
  color: brown;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgb(168, 184, 214);
}

