.first-p {
  color: DarkTurquoise;
  opacity: 0.5;
}

.second-p {
  color: rgb(0, 206, 209);
  background-color: rgba(209, 186, 128, 0.5);
}

.third-p {
  color: #00ced1;
}

.intro {
  background-color: rgb(240, 226, 226);
}

p {
  text-align: center;
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.photo {
  opacity: 0.5;
  text-align: center;
}

.size {
  width: 50%;
  height: 50%;
}

.photo2 {
  background-color: rgba(171, 255, 46, 0.3);
  text-align: center;
}

.kol1 {
  background-color: AliceBlue;
}

.kol2 {
  background-color: hotpink;
}

.kol3 {
  background-color: lightgreen;
}

.kol4 {
  background-color: lightslategray;
}

.kol5 {
  background-color: indigo;
}
