@font-face {
  font-family: 'robotoblack';
  src: url('assets/fonts/Roboto-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'roboto-black-italic';
  src: url('assets/fonts/Roboto-BlackItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('assets/fonts/Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'roboto-bold-talik';
  src: url('assets/fonts/Roboto-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'roboto-italik';
  src: url('assets/fonts/Roboto-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'roboto-light';
  src: url('assets/fonts/Roboto-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'roboto-light-italic';
  src: url('assets/fonts/Roboto-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'robotoblack';
  src: url('assets/fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'roboto-medium-italicblack';
  src: url('assets/fonts/Roboto-MediumItalic.ttf') format('ttf');
}


@font-face {
  font-family: 'roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('ttf');
}


@font-face {
  font-family: 'roboto-thin';
  src: url('assets/fonts/Roboto-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'roboto-thin-talic';
  src: url('assets/fonts/Roboto-ThinItalic.ttf') format('ttf');
}









