.all {
  background: yellow;
  border-width: 5px thick;
  padding: 0px;
  margin-right: 20px;
  display: inline-block;
}

.first,
.third {
  border-color: red;
  border-style: dotted;
}

.second {
  border-color: green;
  border-style: solid;
  width: 400px;
}

.first {
  width: 300px;
}

.third {
  width: 200px;
}
